.ptserif {
    font-family: PT Serif;
}

 .pink {
    background: linear-gradient(
                             to right,
                             #D4145A, #FBB03B);
}

.white {
    background: linear-gradient(to right, #FDFCFB, #E2D1C3
    );
}


.black {
    background: linear-gradient(to right, #662D8C, #ED1E79
    );
}



.word {
    font-size: 30px;
    text-align: center;
}

.width {
    width: 1000px;
}

.nav-brand {
    font-weight: 750;
    color: orange;
    font-size: 24px;
    transition: 0.3s color;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: 	#666777;
    font-weight: 750;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: white;
}



@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #e7be3a;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }

}


.background {
    background-image: url(img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: auto;
}

.center1 {
    text-align: center;
}

.pagination{
    display: block;
    margin: 0 auto;
   }
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
   }

.pagination a.active{
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
   }

.pagination a:hover:not(.active){
    background-color: grey;
    border-radius: 5px;
  }

  @media (min-width: 2500px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 2250px;
        width: auto;
  }

    .title {
        font-size: 110px;
        text-align: center;
        color: white;
        padding-top: 650px;
    }
  }
  @media (min-width: 1901px) and (max-width: 2499px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1580px;
        width: auto;
  }
  }
  @media (min-width: 1801px) and (max-width: 1900px){
    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1320px;
        width: auto;
  }
  }

  @media (min-width: 1517px) and (max-width: 1800px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1120px;
        width: auto;
  }
  }

  @media (min-width: 1461px) and (max-width: 1516px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        width: auto;
  }
  }

  @media (min-width: 1400px) and (max-width: 1460px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 950px;
        width: auto;
  }
  }

@media (min-width: 768px) and (max-width: 1399px){
    .padding2 {
        padding-top: 71px;
 }

}

@media (min-width: 1401px){
    .pad7 {
        padding-top: 15px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .pad5 {
        padding-top: 22px;
    }

    .pad6 {
        padding-top: 20px;
    }

    .padding3{
        padding-top: 25px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .pad3 {
        padding-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .padding3 {
        padding-top: 48px;
    }
}
  @media (min-width: 1300px) and (max-width: 1399px){
    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 820px;
        width: auto;
    }
  }

  @media (min-width: 1200px) and (max-width: 1299px){
    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        width: auto;
    }
  }

  @media (min-width: 1001px) and (max-width: 1199px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        width: auto;
  }

    .pad3 {
        padding-top: 22px;
     }
  }

  @media (min-width: 901px) and (max-width: 1000px){

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        width: auto;
  }
  }

  @media (min-width: 0px) and (max-width: 676px) {

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 680px;
        width: auto;

  }
  }

.padding {
    padding-top:20px;
    padding-left:120px;
}


.border {
    border-style:dashed;
    border-width:5px;
    border-color:black;
}


.title {
    font-size: 110px;
    text-align: center;
    color: white;
    padding-top: 230px;
}



.responsive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }

  .wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }


.padding2 {
    margin-top: 0px;
}


.padding3 {
    margin-top: 0px;
}

.pad {
    padding-top: 25px;
}

.padding4 {
    margin-top: 0px;
}

.pad3 {
    margin-top: 0px;
}

.pad5 {
    margin-top: 0px;
}

.pad6 {
    margin-top: 0px;
}

.pad7 {
    margin-top: 0px;
}
