.ptserif {
    font-family: PT Serif;
}

 .pink {
    background: linear-gradient(
                             to right,
                             #D4145A, #FBB03B);
}

.white {
    background: linear-gradient(to right, #FDFCFB, #E2D1C3
    );
}


.black {
    background: linear-gradient(to right, #662D8C, #ED1E79
    );
}

.tapestry {
    font-family: Tapestry;
}


.color {
    background-color: #F3AE1A ;
    border-radius:2px;
}

.word {
    font-size: 30px;
    text-align: center;
}

.width {
    width: 1000px;
}

.nav-brand {
    font-weight: 750;
    color: orange;
    font-size: 24px;
    transition: 0.3s color;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: 	#666777;
    font-weight: 750;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: white;
}


@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #e7be3a;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }

}


.background {
    background-image: url(img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:750px;
    width:auto;
}

.center1 {
    text-align:center;
}

.pagination{
    display: block;
    margin: 0 auto;
   }
.pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
   }

.pagination a.active{
    background-color: lightgreen;
    font-weight: bold;
    border-radius: 5px;
   }

.pagination a:hover:not(.active){
    background-color: grey;
    border-radius: 5px;
  }

@media (min-width:2500px){
    iframe {
        padding-top:35px;
        height:500px;
        width:1900px;
        padding-left:660px;
    }
}
@media (min-width:1901px) and (max-width:2499px){
    iframe {
        padding-top:35px;
        height:500px;
        width:1500px;
        padding-left:540px;
    }
}
@media (min-width:1550px) and (max-width:1900px){
    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:1700px;
        width:auto;
}
    .title {
        font-size:110px; text-align:center; color:white; padding-top:280px;
    }

    iframe {
        padding-top:35px;
        height:500px;
        width:1440px;
        padding-left:160px;
    }
}

@media (min-width:1517px) and (max-width:1549px){
    iframe {
        padding-top:35px;
        height:500px;
        width:1400px;
        padding-left:120px;
    }

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:950px;
        width:auto;
}
}

@media (min-width:1400px) and (max-width:1516px){
    iframe {
        padding-top:35px;
        height:500px;
        width:1350px;
        padding-left:90px;
    }

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:1000px;
        width:auto;
}
    .title {
        font-size:110px;
        text-align:center;
        color:white;
        padding-top:300px;

}
}

@media (min-width:1200px) and (max-width:1399px){
    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:950px;
        width:auto;
    }

    iframe {
        padding-top:35px;
        height:500px;
        width:1100px;
        padding-left:100px;
    }
}


@media (min-width:901px) and (max-width:1199px){
    iframe {
        padding-top:35px;
        height:500px;
        width:910px;
        padding-left:120px;
    }

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:900px;
        width:auto;
}
}

@media (max-width:900px){
        iframe{
            padding-top:35px;
            padding-left:125px;
            width:640px;
            height:500px;
        }
}

@media (max-width:676px) {

    .height {
        height:600px;
    }

    .height2 {
        height:600px;
    }

    iframe {
        padding-left:35px;
        padding-top:20px;
        height:550px;
        width:500px;
    }

    .background {
        background-image: url(img/sunset.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:580px;
        width:auto;

}
}

@media (max-width:376px){
    iframe{
        padding-left:35px;
        padding-left:20px;
        height:350px;
        width:350px;
    }
}


.padding {
    padding-top:20px;
    padding-left:120px;
}


.border {
    border-style:dashed;
    border-width:5px;
    border-color:black;
}


.title {
    font-size:110px;
    text-align:center;
    color:white;
    padding-top:230px;
}



