.ptserif {
    font-family: PT Serif;
}

.tapestry {
    font-family: Tapestry;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }
.color {
    background-color: #F3AE1A ;
    border-radius:px;
}

.word {
    font-size: 30px;
    text-align: center;
}

.width {
    width: 1000px;
}

.background {
    background-image: url(img/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:750px;
    width:auto;
}

.center1 {
    text-align:center;
}
